.piano {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 200px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin:30px;
}

button{
    color:white;
    background-color:black;
    margin: 5px;
    padding:5px;
    display:inline-block;
}

.key:nth-child(odd) {
    width: 50px;
    height: 150px;
    border: 1px solid black;
    display: flex;
}  
.key:nth-child(even){
    width:30px;
    height:100px;
    background-color:black;
    display:flex;
    margin:-5px -5px;
}

.key:nth-child(6), .key:nth-child(14){
    visibility:hidden;
}

.clicked{
    background-color:lightblue;
}

/* 
.whitekey{
    width: 50px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    background-color:white;
}

.blackkey{
    width:25px;
    height:100px;
    background-color:black;
    display:flex;
    margin:-5px -5px;
} */