
button:hover:enabled {
    background-color: #0056b3;
}

body {
    background-color:lightgray;
}

button { 
    background-color:lightblue;
}


.correctAnswer{
    border-color:green;
    color:green;
    font-weight:bold;
}

.wrongAnswer{
    border-color:red;
    color:red;
    font-weight:bold;
}