/* GENERAL TEXT STYLING */

header{
    background-color:cornflowerblue;
    padding:20px;
    width:100% 100%;
    text-align: center;
}

body{
    font-family: "Baskerville", monospace;
    background-color:#55BCC9;
    padding:20px;
}

h1, h2{
    text-align:center;
    font-weight:bolder;
    font-size:40px;
    color:black;
}

.drinkThumb{
    width:100px;
    height:100px;
}

.drinkName{
    text-align:center;
    font-weight:bolder;
    text-decoration: underline;
    font-size: 25px;
}
/* BUTTON STYLING */
button{
    background-color: black;
    border: 2px;
    border-color: #FC4445;
    color:white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
}

#buttonCont{
    text-align:center;
}

button:hover{
    padding: 18px;
}

.questionDisplay{
    font-size: 30px;
    font-weight:bolder;
    text-align:center;
}

.disappear{ 
    display: none;
    visibility:hidden;
}

.appear{
    display:inline-block;
}

/* OBJECT AND SHAPE STYLING */

.cardStyle{
    height:250px;
    width:200px;
    padding:10px;
    margin:10px;;
    align-self:center;
    text-align:center;
    background-color: #F64C52;
    display:inline-block;
    box-shadow: 10px 10px white;
}

/* .cardStyle:hover{
    height: 230px;
    width: 210px;
} */

#learningContent{
    vertical-align: middle;
}

